body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2c2c2c; /* Dark background to make the paper pop */
    
    /* Center the paper on the screen */
    display: flex;
    justify-content: center;
    margin-left: 700px;
    align-items: center;
    min-height: 100vh;
}

.page-container {
    /* 1. Dimensions of the page */
    width: 210mm;
    height: 297mm;
    perspective: 1000px;
    position: relative;
}

#pageSetup {
    display: none;
}


 .flip-page-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform-origin: left center; 

}

.flipped {
    transform: rotateY(-180deg);
}

.flip-page-front, .flip-page-back { /* shared front and back styles */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    background-image: url('/assets/paper.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 30mm 20mm; 
    box-sizing: border-box;
}

.flip-page-back {
    transform: rotateY(180deg);
}


.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.grid-item img {
    width: 150px; 
    height: 150px;
    object-fit: contain;
    
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3)); /* yoo dit is sexy shadow toch */
}

.page-number { /* bottom right corner page number */
    position: absolute;
    bottom: 15mm; 
    right: 15mm;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.cloned-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210mm;
    height: 297mm;
    perspective: 1000px;
    z-index: -1;
}

.cloned-page.active {
    z-index: 10;
}

